# Database
DB_HOST="localhost"
DB_PORT=5432
DB_USERNAME="admin"
DB_PASSWORD="password"
DB_NAME="postgres"

# REDIS
REDIS_SESSION_URL="redis://localhost:6379/0"
REDIS_CACHE_URL="redis://localhost:6379/1"
REDIS_QUEUE_URL="redis://localhost:6379/2"

# JWT
JWT_SECRET="jwt-secret-key"

# BCRYPT
BCRYPT_SALT_ROUNDS=10

# CRYPTO
CRYPTO_KEY="hsjhdjsh624%&*"
CRYPTO_ENCRYPTION_ALGORITHM="aes-256-cbc"

# AWS
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=your-region

# Google OAuth
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"


# Apple OAuth
APPLE_CLIENT_ID="your-apple-client-id"
APPLE_TEAM_ID="your-apple-team-id"
APPLE_KEY_ID="your-apple-key-id"

# Firebase Cloud Messaging
FIREBASE_SERVICE_ACCOUNT_KEY="your-firebase-service-account-key"

